<section *ngIf="books.length <= 0" >
    <h2>Nenhum livro encontrado.</h2>
</section>
<section class="list">
    <div class="card-group">
        <div
            *ngFor="let book of books; index as i"
            class="card"
            style="min-width: 280px; max-width: 340px; margin-bottom: 1rem;"
            >
            <img class="card-img-top" [src]="book.imageURL" alt="Card image cap"
                style="object-fit: cover; width: 100%; height: 28vw;">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h5 class="card-title">{{ book.title }}</h5>
                    </li>
                    <li class="list-group-item">
                        <h5 class="card-subtitle">Descrição</h5>
                        <p class="card-text font-weight-light description">
                                {{ book.description }}
                        </p>
                    </li>
                    <li class="list-group-item">
                        <h5 class="card-subtitle">Data de publicação:</h5>
                        <p class="card-text">{{ book.publishedDate}}</p>
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <small class="text-muted">
                    <button
                        class="btn btn-primary"
                        [routerLink]="['/books', book.id ]"
                        [queryParams]="{q: keyword, page: page}"
                    >Detalhes</button>                        
                </small>
            </div>
        </div>
    </div>
    <nav>
        <ul class="pagination">
            <li class="page-item">
                <button class="page-link btn btn-primary" (click)="page = page - 1">
                    Previous
                </button>
            </li>            
            <li class="page-item">
                <button class="page-link  btn btn-primary" (click)="page = page + 1">
                    Next
                </button>
            </li>
        </ul>
    </nav>
</section>