<div class="d-flex container-fluid justify-content-center" style="margin-top: 1rem;"> 
  <div
    class="
      d-flex
      flex-column
      flex-sm-row
      col-xs-12
      col-sm-12
      col-md-8
      col-lg-6
      justify-content-center"> 
    <input
      class="shadow-sm form-control p-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
      [(ngModel)]="query">    
    <button 
      class="btn btn-outline-success p-2"
      style="margin-left: 1rem; max-width:
      98px;" (click)="onClickSearch()">Search</button> 
  </div>
</div>


