<section style="margin: 1rem;">
    <p *ngIf='error' >{{ errorMessage }}</p>
    <form  class="form-control justify-content-center" [formGroup]="form" (submit)="subscribe()">
        <h2>Sing Up</h2>
        <hr>
        <div *ngIf="errorMessage" class="alert alert-danger" style="font-size: 12pt; padding: 2pt;">{{ errorMessage }}</div>
        <div class="form-group">
            <label for="username">Username</label>
            <input 
                class="form-control"
                type="text"
                id="username"
                name="username"
                required
                formControlName="username"
            >
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input
                class="form-control"
                type="email"
                id="email"
                name="email"
                required
                formControlName="email"
            >
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input
                class="form-control"
                type="password"
                id="password"
                name="password"
                required
                formControlName="password"
            >
        </div>
        <button class="btn btn-primary" type="submit">Sign up</button>
    </form>
    <p style="font-size: 11pt;">Already have an account? <a routerLink="/login">Click here</a> to login.</p>
</section>